{% load static %}
<!DOCTYPE html>
<html>

{% with IMG_ID="webp-img" %}

<head>
  <script type="module" src="/pushbyt/static/js/simulator.js">
  </script>
  <style>
    h1 {
      font-size: medium;
    }

    #container {
      display: flex;
    }

    #container img {
      image-rendering: pixelated;
    }
  </style>
</head>

<body>
  <h1>Tidbyt simulator</h1>
  <div id="container">
  </div>
  <div>
    <input id="animationPath" type="text" placeholder="animation path"/>
    <button id="animationPathButton">Set</button>
  </div>
</body>
{% endwith %}

</html>
