{% load static %}
<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      border-collapse: collapse;
    }

    td {
      padding: 4px;
    }

    td:first-child {
      font-weight: bold;
      padding-right: 4rem;
    }
  </style>
</head>

<body>
  <h1>Shack</h1>
  <table>
    <tr>
      <td>Co2:</td>
      <td>{{ co2 }}</td>
    </tr>
    <tr>
      <td>Temperature:</td>
      <td>{{ temperature }}</td>
    </tr>
    <tr>
      <td>Humidity:</td>
      <td>{{ humidity }}</td>
    </tr>
    <tr>
      <td>
        Heat power level:
      </td>
      <td>
        <progress id="power-gauge" value="{{ heat_power }}" max="1000"></progress>
      </td>
    </tr>
  </table>
  <fieldset>
    <legend>Controls</legend>
    <div>
      <label>
        <input type="checkbox" {% if tidbyt_switch %}checked{% endif %}> Tidbyt switch
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" {% if heat_switch %}checked{% endif %}> Heat switch
      </label>
    </div>
    <div>
      <button>Heat power</button>
    </div>
  </fieldset>
  <div>
    <h2>Timer</h2>
  </div>
  <div>
    <h2>Reminder</h2>
  </div>
</body>

</html>
