{% load static %}
<!DOCTYPE html>
<html>

<head>
  <script type="module">
    console.log('hiiii, {{ IMG_ID }}')
  </script>
  <style>
  </style>
</head>

<body>
  <h1>Shack</h1>
  <table>
    <tr>
      <td>Co2</td>
      <td>{{ co2 }}</td>
    </tr>
    <tr>
      <td>Temperature</td>
      <td>{{ temperature }}</td>
    </tr>
    <tr>
      <td>Humidity</td>
      <td>{{ humidity }}</td>
    </tr>
  </table>
  <div>
    <input type="checkbox">heat</input>
    <input type="checkbox">tidbyt</input>
  </div>
  <div>
    <h2>Timer</h2>
  </div>
  <div>
    <h2>Reminder</h2>
  </div>
</body>

</html>
